<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        [disabled]="userService.loading"
        [(ngModel)]="user.firstName"
        matInput
        placeholder="Fist Name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        [disabled]="userService.loading"
        [(ngModel)]="user.lastName"
        matInput
        placeholder="Last Name"
      />
    </mat-form-field>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input
          [disabled]="userService.loading"
          [(ngModel)]="user.email"
          matInput
          placeholder="E-Mail-Address"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Birth Date</mat-label>
        <input
          [disabled]="userService.loading"
          [(ngModel)]="user.birthDate"
          matInput
          placeholder="Your Birthday"
          [matDatepicker]="picker1"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + House No.</mat-label>
        <input
          [disabled]="userService.loading"
          [(ngModel)]="user.street"
          matInput
          placeholder="Your Street"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input
          [disabled]="userService.loading"
          [(ngModel)]="user.zipCode"
          matInput
          placeholder="Zip-Code"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          [disabled]="userService.loading"
          [(ngModel)]="user.city"
          matInput
          placeholder="City"
        />
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="dialogRef.close()" [disabled]="userService.loading" mat-button>Cancel</button>
  <button
    [disabled]="userService.loading"
    mat-button
    (click)="updateUser()"
    cdkFocusInitial
  >
    Save
  </button>
</div>
<mat-progress-bar
  *ngIf="userService.loading"
  mode="indeterminate"
></mat-progress-bar>
